/* in-line with top of text*/
header {
  height: 520px;
  width: 100%;
  background-color: #ff7308;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.user-icon {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
 width: 50px;
 border-radius: 50%;
 margin-top: 150px;
 
}

.user-name {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
} 


/* Style desktop screens */
@media only screen and (min-width: 1024px) {
  #header {
    width: 100; /* 100% of the parent */
  }
}
/* Style tablet screens min and max widths added to account for screen sizing */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #header {
    width: 100; /* 80% of the parent, needed? */
    margin: auto; /* center the container */
  }
}

/* Style mobile phone screens */
@media only screen and (max-width: 767px) {
  #header {
    width: 100; /* 100% of the parent */
    margin: auto; /* center the container */
  }
}
