/* in-line with top of text*/
header {
  height: 400px;
  width: 100%;
  background-color: #ff7308;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-icon {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
 width: 50px;
 border-radius: 50%;
 margin-top: 150px;
 
}

.user-name {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
} 

/* Style desktop screens */
@media only screen and (min-width: 1024px) {
  .header {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
}

@media only screen and (max-width: 1023px) {
  .header {
    width: 100;
    margin-top: 120px;
    margin: auto;
  }
}
