.nav {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: flex-start;
  height: 120px;
  width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/*
found the class can't get it too move over
*/
.write-a-new-tweet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*
put the double arrow below write a new tweet.
*/
 a {
  display: flex;
  justify-content: flex-end;
} 

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    background-color: #4056A1;
    font-family: "Bungee", sans-serif;
    background-color: #ff7308;
    background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  .write-a-new-tweet {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  a {
    display: flex;
    justify-content: flex-end;
  }
/* 
  .nav .user-icon, .nav .user-name {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
}