/*
to style 
tweet-container
    -styled with a border and a border-radius

  tweet-header
    -source sans 3 font, 16px, 
    -user-avatar and username on far right space-between  @alias on far left

  tweet-body
    -tweet-text
    -source sans 3 font, 24px, bold

  tweet-footer
    -styled with a border-top 5px ridge #878686
    -tweet-date source sans 3 font, 12px, bold
    -tweet-icons

    -additonal styling: 
    hover over tweet-container
    cursor: pointer

    article= "tweets"

*/

.tweets-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #878686; 
  border-radius: 5px;
  margin-top: 10px;
  font-family: "Source Sans 3", sans-serif;
}

article.tweets {
  display: flex;
  background-color: whitesmoke;
  background-image: none;
  box-sizing: border-box;
  height: 200px;
  width: 90%;
  border: 1px solid #878686;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: none;
}

.tweets-container:hover {
  box-shadow: #878686 0px 0px 5px 5px;
}

.tweets-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.tweets-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tweets-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 5px ridge #878686;
  padding: 10px;
}

.tweets-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 100px;
  cursor: pointer;
}

.tweets-icons  i.fa-flag:hover {
  color: #f2d91d;
}

.tweets-icons  i.fa-retweet:hover {
  color: #f2d91d;
}

.tweets-icons  i.fa-heart:hover {
  color: #f2d91d;
}