/*
to style 
tweet-container
    -styled with a border and a border-radius

  tweet-header
    -source sans 3 font, 16px, 
    -user-avatar and username on far right space-between  @alias on far left

  tweet-body
    -tweet-text
    -source sans 3 font, 24px, bold

  tweet-footer
    -styled with a border-top 5px ridge #878686
    -tweet-date source sans 3 font, 12px, bold
    -tweet-icons

    -additonal styling: 
    hover over tweet-container
    cursor: pointer

    article= "tweets"

*/
.tweets-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #878686; 
  border-radius: 5px;
  margin-top: 10px;
  font-family: "Source Sans 3", sans-serif;
}

article.tweets {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  width: 90%;
  border: 1px solid #878686;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: none;
}

article.tweets:hover {
  box-shadow: #868787  5px 5px 0px 0px;
}

header.tweets-header {
  display: flex;
  background-color: whitesmoke;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 200;
  padding: 10px;
  height: 64px;
  width: 100%;
} 

.user-img img {
  height: 48px;
  width: 48px;
}

.user-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  order: 1;
}

.user-name {
  margin-left: 10px;
  align-items: flex-start;
  font-weight: 400;
  order: 2;
}

.user-handle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-weight: 200;
  order: 3;
}

.tweets-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.tweets-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 5px ridge #878686;
  margin-top: 10px;
  font-size: 12px;
  font-family: "Source Sans 3", sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.tweets-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 100px;
  padding-bottom: 10px;
  cursor: pointer;
}

.tweets-icons  i.fa-flag:hover {
  color: #f2d91d;
}

.tweets-icons  i.fa-retweet:hover {
  color: #f2d91d;
}

.tweets-icons  i.fa-heart:hover {
  color: #f2d91d;
}